$black: #282c34;
$grey: #f2f2f2;
$grey-white: #f8f8f8;
$white: #fff;

$margin-vertical: 20px 0;
$padding-around: 20px;
$margin-top-desktop: 40px;

$bgcolor-user1: #6daf2c;
$bgcolor-user2: #f7ad23;
$bgcolor-user3: red;
$bgcolor-user4: purple;
