.chat-messages-list {
  padding: $padding-around;
  height: 100%;
  display: flex;
  flex-direction: column;

  &--speech-bubble {
    position: relative;
    border-radius: .4em;
    margin-bottom: 10px;
    min-width: 20px;
    max-width: 50%;
    padding: 10px;
    color: white;

    &:after {
      content: '';
      position: absolute;
      top: 40%;
      width: 0;
      height: 0;
      border: 9px solid transparent;
      border-top: 0;
      margin-top: -4.5px;
    }

    &.user1 {
      background-color: $bgcolor-user1;
      margin-right: auto;
      &:after {
        left: 0;
        border-right-color: $bgcolor-user1;
        border-left: 0;
        margin-left: -9px;
        left: 0;
      }
    }

    &.user2 {
      background-color: $bgcolor-user2;
      margin-left: auto;
      &:after {
        border-left-color: $bgcolor-user2;
        border-right: 0;
        margin-right: -9px;
        right: 0;
      }
    }
  }
}
